@model ErrorViewModel
@{
 ViewData["Title"] = "خطأ";
}
<div>
<h1 class="text-danger">خطأ</h1>
<h2 class="text-danger">يرجى اضافة معلم المادة</h2>
 <a class="btn btn-primary" asp-controller="Teachers" asp-action="Add_Teacher">اضافة معلم</a>
</div>


