@page
@model LoginModel


<div class="py-3 py-md-5">
	<div class="container pt-5">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
				<div class="bg-white p-4 p-md-5 rounded shadow-sm">
					<div class="row">
						<div class="col-12">
							<div class="mb-5 text-center">
								<h3>تسجيل الدخول</h3>
							</div>
						</div>
					</div>
					<form id="account" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

						<div class="row gy-3 gy-md-4 overflow-hidden">
							<div class="col-12">
								<label for="email" asp-for="Input.Email" class="form-label">البريد الالكتروني <span class="text-danger">*</span></label>
								<input type="email" asp-for="Input.Email"
															autocomplete="username"
															class="form-control" id="email" placeholder="name@example.com">
								<span asp-validation-for="Input.Email" class="text-danger"></span>

							</div>
							<div class="col-12 mb-3">
								<label asp-for="Input.Password" for="password" class="form-label">كلمة المرور <span class="text-danger">*</span></label>
								<input type="password" asp-for="Input.Password"
															autocomplete="current-password" placeholder="password"
															class="form-control" id="password">
								<span asp-validation-for="Input.Password" class="text-danger"></span>

							</div>
							<div class="col-12">
								<div class="d-grid">
									<input id="login-submit" type="submit" class="btn btn-lg btn-primary" value="تسجيل الدخول" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
